---
import { Aside } from '@astrojs/starlight/components';
---

<Aside type="tip" title="Work → right → fast">
  <p>The way we like to work:</p>
  <ol>
    <li>Make it work (don’t worry about performance yet).</li>
    <li>Make it right (correctness).</li>
    <li>Make it fast (specialize/optimize).</li>
  </ol>
</Aside>
